
config MTK_AP3425H
	bool "ap3425h for MediaTek package"
	default n
	help
	It support different type sensor in this platform. 
	If this option is set, it will support ambient and light sensor AP3425H.
